.PortfolioPage-container {
    border: solid red 2px;
    width: 92vw;
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem 2rem 2rem 2rem;
    color: white;
}

.PortfolioPage-Header {
    text-align: left;
    color: #aaaaaa;
    font-variant: small-caps;
    padding-top: 1rem;
}

.PortfolioPage-ContentHolder {
    /* border: solid rgb(0, 255, 60) 2px; */
    padding: 0 0 0 0;
}

.Portfolio-Header {
    text-align: left;
    color: white;
    padding-bottom: 1rem;
}