.PortfolioComp-container {
    /* border: solid rgb(30, 255, 0) 2px; */
    width: 100%;
    /* background: rgba(0, 0, 0, 0.9); */
    color: white; 
    /* border-radius: 6px; */
    display: flex;
    justify-content: center;
}

.PortfolioComp-RefHolder {
    /* border: solid blue 2px; */
    /* background: rgba(0, 0, 0, 0.2); */

    color: white;
    width: 100%;
    margin: 0 0 0 0;
    --n: 4; /* number of rows*/
    --m: 4; /* number of columns */
    --g: 20px; /* control the gap */
    --f: 1.5; /* control the scale factor */
    display: grid;
    gap: var(--g);
    width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
    height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
    grid-template-columns: repeat(var(--m), auto);    
}


@media screen and (max-width: 1300px) {
    .PortfolioComp-RefHolder {
        margin: 0 0 0 0;
        --n: 4; /* number of rows*/
        --m: 3; /* number of columns */
        --g: 20px; /* control the gap */
        --f: 1.5; /* control the scale factor */
        display: grid;
        gap: var(--g);
        width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
        height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
        grid-template-columns: repeat(var(--m), auto);  
    }
}

@media screen and (max-width: 950px) {
    .PortfolioComp-RefHolder {
        margin: 0 0 0 0;
        --n: 4; /* number of rows*/
        --m: 2; /* number of columns */
        --g: 20px; /* control the gap */
        --f: 1.5; /* control the scale factor */
        display: grid;
        gap: var(--g);
        width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
        height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
        grid-template-columns: repeat(var(--m), auto);  
    }
}

@media screen and (max-width: 780px) {
    .PortfolioComp-RefHolder {
        margin: 0 0 0 0;
        --n: 4; /* number of rows*/
        --m: 1 !important; /* number of columns */
        --g: 20px !important;/* control the gap */
        --f: 1.5; /* control the scale factor */
        display: grid;
        gap: var(--g);
        width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
        height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
        grid-template-columns: repeat(var(--m), auto);  
    }
}



.PortfolioComp-ContentHolder {
    background: rgba(169, 249, 255, 0.444);
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 13px;
    padding: 15px;
    min-width: 250px;
    max-width: 325px;
    height: 390px;
}

.PortfolioComp-ContentHolder:hover {
    background: rgba(104, 242, 255, 0.544);
    border: solid rgb(133, 251, 255) 2px;
    transform: scale(1.01);
    transition: ease-in-out 0.2s;
}

.PortHead {
    font-size: 1.3rem;
    /* color: rgba(255, 255, 255, 0.7); */
    color: white;
    padding: 0.3rem 0 1rem 0;
}

/* .PortHead:hover {
    cursor: pointer;
    color: white;
} */

.projImages {
    /* position: relative; */
    /* object-fit: cover; */
    background: black no-repeat center center fixed; 
    background-size: cover;
    min-width: 100%;
    max-height: 200px;
    /* height: auto;  */
    /* border: solid 2px whitesmoke; */
    display: flexbox;
    justify-content: center;
    width: 100%;
    height: 50%;
    object-fit: cover; /* or object-fit: contain; */
    border-radius: 10px;
    border: 1px solid white;
}

.portDesc {
    /* border: 2px solid red; */
    padding-top: 5px;
    font-style: italic;
    font-size: .8em;
    padding-bottom: 10px;
    height: 80px;
    overflow-y: scroll;
}

.PortfolioComp-ButtonHolder {
    /* border: 2px solid red; */
    padding-top: 5px;
    display: flex;
    justify-content: space-around;

}

.PortfolioComp-Button {
    border: 2px solid white;
    padding: 6px 0px 6px 0px;
    width: 70px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.PortfolioComp-Button:hover {
    color: rgb(133, 251, 255);
    border: 2px solid rgb(133, 251, 255);
}

