.AboutMe-container {
    border: solid red 2px;
    width: 92vw;
    background: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    color: white;
}

.About-Me-Header {
    text-align: left;
    color: #aaaaaa;
}

.About-Me-Header2 {
    text-align: left;
    color: white;
}

.AboutMe-ContentHolder {
    border: solid red 2px;
    display: flex;
    flex-flow: column-wrap;
}

.AboutMe-Left {
    width: 33%;
    height: auto;
}

.AboutMe-Right {
    width: 66%;
    height: auto;
}

.profile-img {
    width: 100%;
    height: auto;
}