.AboutMe-container {
    /* border: solid red 2px; */
    width: 92vw;
    background: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    color: white;
}

.About-Me-Header {
    text-align: left;
    color: #aaaaaa;
    font-variant: small-caps;
}

.About-Me-Header2 {
    text-align: left;
    color: white;
}

.AboutMe-ContentHolder {
    /* border: solid red 2px; */
    display: flex;
    flex-flow: column-wrap;
}

.AboutMe-Left {
    width: 33%;
    height: auto;
    padding: 1rem 1.3rem 1rem 0rem;
}

.AboutMe-Right {
    /* border: green 2px solid; */
    width: 66%;
    height: auto;
    padding: 1rem;
    display: flexbox;
    flex-direction: column;
}

.profile-img {
    width: 100%;
    height: auto;
}

.AMImg {
    height: 3rem;
    width: auto;
    filter: 
        invert(10%)
        sepia(100%)
        saturate(20%)
        hue-rotate(0deg)
        brightness(800%)
        contrast(30%) 
}

#italics {
    font-style: italic;
    font-size: 1rem;
}

.AboutMe-List {
    padding-top: .5rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}

h2 {
    font-size: 1.7em;
    padding-bottom: .3em;
}

ul {
    list-style: none;
}

.amli {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* color: rgb(179, 210, 253); */
    color: rgba(255, 255, 255, 0.7);
}

.amli :hover {
    color: white;
    transition: ease-in-out 0.3s;
    filter: 
        invert(20%)
        /* sepia(76%) */
        /* saturate(1211%) */
        /* hue-rotate(190deg) */
        brightness(1007%)
        contrast(100%)
}

.AboutMe-Desc {
    font-size: 1em;
    padding-top: 1em;
    text-align: justify;
}

.AboutMe-LBSS {
    font-size: 1.8em;
    padding-top: 1.5em;
}