.References-container {
    /* border: solid red 2px; */
    width: 92vw;
    max-width: 1550px;
    background: rgba(0, 0, 0, 0.9);
    padding: 0 2rem 2rem 2rem;
    color: white;
}

.References-Header {
    text-align: left;
    color: #aaaaaa;
    font-variant: small-caps;
    padding-bottom: 1rem;
}

.References-ContentHolder {
    /* border: solid rgb(255, 217, 0) 2px; */
    background: rgba(255, 255, 255, 0.08);
    transition: ease-in-out 0.2s;
    padding: 0px 0 15px 0;
}

.References-ContentHolder:hover {
    background: rgba(255, 255, 255, 0.20);
}

/* margin: 0 0 0 0; */
/* --n: 3; number of rows */
/* --m: 4; number of columns */
/* --g: 20px; control the gap */
/* --f: 1.5; control the scale factor */
/* display: grid; */
/* gap: var(--g); */
/* width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g)); */
/* height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g)); */
/* grid-template-columns: repeat(var(--m), auto);     */
