.SESkills-container {
    /* border: solid red 2px; */
    width: 92vw;
    max-width: 1550px;
    background: rgba(0, 0, 0, 0.9);
    padding: 0 2rem 2rem 2rem;
    color: white;
}

.SESkills-Header {
    text-align: left;
    color: #aaaaaa;
    font-variant: small-caps;
    padding-bottom: 1rem;
}

.SESkills-ContentHolder {
    /* border: solid red 2px; */
    background-color: rgba(0, 0, 0, 0.713);
    padding: 0px 0 0px 0;
    /* border: 3px solid rgba(0, 0, 0, 0.713); */
    margin: 0 0 0 0;
    --n: 3; /* number of rows*/
    --m: 4; /* number of columns */
    --g: 20px; /* control the gap */
    --f: 1.5; /* control the scale factor */
    display: grid;
    gap: var(--g);
    width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
    height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
    grid-template-columns: repeat(var(--m), auto);    
}

.IconBox {
    display: flex;
    align-items: center;
    padding: 1.2em 1.2em 1.2em 2em;
    background: rgba(255, 255, 255, 0.08);
    /* background: rgba(50, 50, 50, 0.60); */
    transition: ease-in-out 0.2s;
}

.IconBox:hover {
    background: rgba(255, 255, 255, 0.20);
}

.SEli {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* color: rgb(179, 210, 253); */
    color: rgba(255, 255, 255, 0.7);
}

.whiteText {
    color: white;
    font-size: 1rem;
    padding-left: 1em;
}

.SES-img {
    height: 2.3rem;
    width: auto; 
}

#img1 {
    filter: 
        invert(50%)
        sepia(76%)
        saturate(1211%)
        hue-rotate(20deg)
        brightness(207%)
        contrast(100%)
}

#img2 {
    filter: 
        invert(10%)
        sepia(100%) 
        hue-rotate(190deg) 
        saturate(500%)
        brightness(357%)
        contrast(100%)
}

#img3 {
    filter: 
        invert(10%)
        sepia(96%)
        saturate(211%)
        hue-rotate(80deg)
        brightness(300%)
        contrast(100%)
}

#img4 {
    filter: 
        invert(20%)
        sepia(100%)
        saturate(8000%)
        hue-rotate(0deg)
        brightness(80%)
        contrast(100%)
}

#img5 {
    filter: 
        invert(50%)
        sepia(76%)
        saturate(8011%)
        hue-rotate(300deg)
        brightness(207%)
        contrast(100%)
}

#img6 {
    filter: 
        invert(50%)
        sepia(76%)
        saturate(1211%)
        hue-rotate(80deg)
        brightness(207%)
        contrast(100%)
}

#img7 {
    filter: 
        invert(20%)
        sepia(76%)
        saturate(861%)
        hue-rotate(230deg)
        brightness(207%)
        contrast(100%)
}

#img8 {
    filter: 
        invert(50%)
        sepia(76%)
        saturate(411%)
        hue-rotate(16deg)
        brightness(507%)
        contrast(100%)
}

#img9 {
    filter: 
        invert(50%)
        sepia(100%)
        saturate(1211%)
        hue-rotate(100deg)
        brightness(207%)
        contrast(100%)
}

#img10 {
    filter: 
        invert(20%)
        sepia(100%)
        saturate(400%)
        hue-rotate(0deg)
        brightness(200%)
        contrast(100%)
}

#img11 {
    filter: 
        invert(10%)
        sepia(100%) 
        hue-rotate(190deg) 
        saturate(200%)
        brightness(457%)
        contrast(100%)
}

#img12 {
    filter: 
        invert(50%)
        sepia(76%)
        saturate(1211%)
        hue-rotate(180deg)
        brightness(207%)
        contrast(100%)
}