.Contact-Page-container {
    /* border: solid red 2px; */
    width: 92vw;
    max-width: 1550px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    /* border-radius: 15px; */
}

.Contact-Page-container-overlay {
    padding: 2rem;
    /* background: rgba(169, 249, 255, 0.444);
    border: solid rgb(255, 255, 255) 2px; */
    /* border-radius: 15px; */
}

.Contact-Page-Header {
    text-align: left;
    color: #aaaaaa;
    font-variant: small-caps;
}

.Contact-Page-Header2 {
    text-align: left;
    color: white;
}

.Contact-Page-ContentHolder {
    /* border: solid red 2px; */
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.ContactLeft {
    width: 35%;
    display: flex;
    align-items: center;
}

.ContactRight {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 10rem; */
    padding-right: 10rem;
    row-gap: 10px;
}

.ContactDesc {
    /* padding: 0.5rem 0 0 0; */
    font-style: italic;
    font-size: 1.3em;
    text-align: left;
}

.ContactLeftBox {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.ContactIcon1 {
    width: 30px;
    height: auto;
    filter: 
        invert(50%)
        sepia(76%)
        saturate(1211%)
        hue-rotate(180deg)
        brightness(207%)
        contrast(100%)
}

.ContactIcon1:hover {
    cursor: pointer;
    filter: 
        invert(100%)
}

@media screen and (max-width: 830px) {
    .Contact-Page-ContentHolder {
        /* border: solid red 2px; */
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .ContactRight {
        width: 100%;
        padding-bottom: 20px;
    }
    .ContactLeft {
        width: 100%;
    }
    .ContactDesc {
        /* padding: 0.5rem 0 0 0; */
        font-style: italic;
        font-size: 1.1em;
        text-align: left;
    }

}