.Email-Page-container {
    /* border: solid red 2px; */
    width: 92vw;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    /* border-radius: 15px; */
}

.Email-Page-container-overlay {
    padding: 2rem;
    /* background: rgba(169, 249, 255, 0.444);
    border: solid rgb(255, 255, 255) 2px; */
    /* border-radius: 15px; */
}

/* .Email-Page-container-overlay:hover {
    background: rgba(104, 242, 255, 0.544);
    border: solid rgb(133, 251, 255) 2px;
} */


.Email-Page-Header {
    text-align: left;
    color: #aaaaaa;
    font-variant: small-caps;
}

.Email-Page-Header2 {
    text-align: left;
    color: white;
}

.Email-Page-ContentHolder {
    border: solid red 2px;
    display: flex;
    flex-direction: row;
}