.App {
  border: 2px rgb(43, 255, 0) solid;
  text-align: center;
  background: url(../public/images/circuit1.jpg) no-repeat center center fixed;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}
